---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=ed6fc52262af7e1bb1155181b37d2fc2&lat=-3.72&lon=-38.52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-38.52,"lat":-3.72},"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"base":"stations","main":{"temp":301.15,"pressure":1010,"humidity":74,"temp_min":301.15,"temp_max":301.15},"visibility":10000,"wind":{"speed":7.2,"deg":70},"clouds":{"all":20},"dt":1516136400,"sys":{"type":1,"id":4498,"message":0.0023,"country":"BR","sunrise":1516091692,"sunset":1516136006},"id":6320062,"name":"Fortaleza","cod":200}'
  recorded_at: Tue, 16 Jan 2018 22:04:15 GMT
recorded_with: VCR 4.0.0
