---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=ed6fc52262af7e1bb1155181b37d2fc2&q=Fortaleza&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-38.52,"lat":-3.73},"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"base":"stations","main":{"temp":27,"pressure":1013,"humidity":78,"temp_min":27,"temp_max":27},"visibility":10000,"wind":{"speed":3.6,"deg":60},"clouds":{"all":40},"dt":1516327200,"sys":{"type":1,"id":4498,"message":0.0059,"country":"BR","sunrise":1516350942,"sunset":1516395239},"id":6320062,"name":"Fortaleza","cod":200}'
  recorded_at: Wed, 17 Jan 2018 14:00:00 GMT
recorded_with: VCR 4.0.0
