---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=ed6fc52262af7e1bb1155181b37d2fc2&lat=-3.72&lon=-38.52&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-38.52,"lat":-3.72},"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"base":"stations","main":{"temp":28,"pressure":1013,"humidity":74,"temp_min":28,"temp_max":28},"visibility":10000,"wind":{"speed":5.1,"deg":70},"clouds":{"all":75},"dt":1516240800,"sys":{"type":1,"id":4498,"message":0.003,"country":"BR","sunrise":1516264520,"sunset":1516308824},"id":6320062,"name":"Fortaleza","cod":200}'
  recorded_at: Thu, 18 Jan 2018 02:30:40 GMT
recorded_with: VCR 4.0.0
