---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/weather?appid=ed6fc52262af7e1bb1155181b37d2fc2&lat=-3.72&lon=-38.52
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":-38.52,"lat":-3.72},"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"base":"stations","main":{"temp":304.15,"pressure":1009,"humidity":58,"temp_min":304.15,"temp_max":304.15},"visibility":10000,"wind":{"speed":7.7,"deg":70},"clouds":{"all":0},"dt":1516212000,"sys":{"type":1,"id":4498,"message":0.0036,"country":"BR","sunrise":1516178112,"sunset":1516222419},"id":6320062,"name":"Fortaleza","cod":200}'
  recorded_at: Wed, 17 Jan 2018 18:38:16 GMT
recorded_with: VCR 4.0.0
